/* Variables */
:root{
    --main-color: ;
    --footer-bg: #242424;
    --socials-ico-bg: rgba(255, 255, 255, .2)
}

/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

.wrap-header{
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 4%;
    transition: all .50s ease;
    background-color: #24242483;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    scale: 1;
    max-width: 150px;
    cursor: pointer;
}

.nav-links{
    display: flex;
}

.nav-links a{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 0;
    margin: 0 15px;
    transition: all .5s ease;
}


.nav-links a:hover{
    color: #0ff
}

.login{
    display: flex;
    align-items: center;
}

.login a{
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 25px;
    margin-left: 10px;
    color: white;
    transition: all .5s ease;
}

.login a:not(:first-child):hover{
    color: #0ff;
}

.login a.active{
    padding: 7px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #242424;
    background-color: #0ff;
}

.login a.active i{
    margin-right: 7px;
}

.login a.active:hover{
    background-color: rgb(255, 255, 255);
}

/* Hero */
.hero{
    height: 100vh;
    background: url(/assets/wotlk-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(25, 25, 68, 0.815);
    background-blend-mode: color-burn;
    background: linear-gradient();
    color: #f0f0f0;
    padding: 70px;
}

.wrap-hero{
    max-width: 100%;
    margin: auto;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
}

.item-hero h1{
    font-size: 50px;
}

.main-desc{
    margin-bottom: 100px;
}

.video{
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}

.video iframe{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}

.wrap-hero h1{
    text-transform: uppercase;
    margin-bottom: 50px;
}

.wrap-quote{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(0px 10px);
}

.wrap-quote p{
    text-transform: capitalize;
}

.wrap-quote q{
    font-style: italic;
    font-size: 28px;
}

.wrap-quote span{
    text-transform: capitalize;
}

.sub-news h3{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sub-news p{
    margin-bottom: 25px;
}

.sub-news p::first-letter{
    text-transform: capitalize;
}

.form{
    width: 100%;
    max-width: 440px;
    display: flex;
}

.field{
    width: 50%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 3px 0px 0px 3px;
    outline: 0px;
}

.btn-sub{
    padding: 15px;
    border: none;
    font-size: 16px;
    border-radius: 0px 3px 3px 0px;
    background: #0ff;
    color: #000000;
    cursor: pointer;
    outline: 0px;
    text-transform: capitalize;
}


/* Section Clases */
.classes{
    background: url(/assets/icc-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap-clases{
    color: #f0f0f0;
    backdrop-filter: blur(7px);
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    padding: 0px 100px;
}

.arthas{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.arthas img{
    height: 100%;

    transition: all .3s ease;
}

.arthas img:hover{
    filter: drop-shadow(
        0 0 10px rgba(0, 255, 255, 0.8)
    );
    padding-right: 15px;
}

.class{
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 7px;
    transition: all .5s ease;
    width: 18%;
    margin: 7px;
    background-color: rgba(118, 155, 255, .1);
}

.class:hover{
    color: #242424;
    background-color: rgb(73, 249, 255);
    scale: 1.1;
}

.class img{
    max-width: 60px;
    padding: 5px;
}

.class span{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding-left: 10px;
}

.wrap-classes-pj{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap-classes-pj h1{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.wrap-classes-pj p{
    margin-bottom: 20px;
    font-size: 18px;
}

.wrap-classes-pj p::first-letter{
    text-transform: capitalize;
}



.classes-col{
    width: 100%;
    display: flex;
    flex-direction: row;
}


/* Section Gallery */
.gallery{
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 430px;
}

.gallery img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .7;
    transition: .5s ease;
}

.gallery img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/* Section Shop*/
.section-shop h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 28px;
    font-size: 28px;
}

.wrap-products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0;
}

.item{
    width: 370px;
    aspect-ratio: 1/1.2;
    background-color: #242424;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin: 20px;
    transition: all .5s ease;
}

.item:hover{
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, .5);
} 

.item img{
    width: 100%;
    height: 46%;
}

.item-description{
    padding: 28px;
    color: #f0f0f0;
}



.item-description h3{
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.item-description p{
    text-transform: capitalize;
    margin-bottom: 70px;
}



/* Footer */
.footer{
    background-color: var(--footer-bg);
    padding: 70px 0;
}

.wrap-footer{
    max-width: 1170px;
    margin: auto;
    }
    
.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h2{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.footer-col h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0ff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 10px;
}

.footer-col .socials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--socials-ico-bg);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}

.footer-col .socials a:hover{
    scale: 1.1;
    color: var(--footer-bg);
    background-color: white;
}

/* Responsive */
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}